<div class="modal-fullscreen">
  <br />
  <mat-dialog-content class="modal-content">
    <div class="content-grid">
      <mat-accordion multi="true">
        <!-- ================= TITULAR ================= -->
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> Dados do Titular </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid-section full-width">
            <div class="form-grid">
              <div class="form-field" *ngFor="let col of colunasTitular">
                <mat-form-field appearance="outline" class="full-width-field">
                  <mat-label>{{ getColumnDisplayName(col) }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="data.titular[col]"
                    [disabled]="!editando || !isCampoEditavel('titular', col)"
                    [type]="getInputType(col)"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= CONJUGE ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Dados do Cônjuge </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid-section full-width">
            <div class="form-grid">
              <div class="form-field" *ngFor="let col of colunasConjuge">
                <mat-form-field appearance="outline" class="full-width-field">
                  <mat-label>{{ getColumnDisplayName(col) }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="data.conjuge[col]"
                    [disabled]="!editando || !isCampoEditavel('conjuge', col)"
                    [type]="getInputType(col)"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= PROJETO ASSENTAMENTO ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Projeto de Assentamento </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid-section full-width">
            <div class="form-grid">
              <div class="form-field" *ngFor="let col of colunasProjeto">
                <mat-form-field appearance="outline" class="full-width-field">
                  <mat-label>{{ getColumnDisplayName(col) }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="data.projeto_assentamento[0][col]"
                    disabled
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= GEOLOCALIZAÇÃO ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Geolocalização </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid-section full-width">
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline" class="full-width-field">
                  <mat-label>Latitude</mat-label>
                  <input matInput [disabled]="!editando" />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="full-width-field">
                  <mat-label>Longitude</mat-label>
                  <input matInput [disabled]="!editando" />
                </mat-form-field>
              </div>
              <iframe
                class="col-12"
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d95610.68142526726!2d-42.23844749254404!3d-22.88587129197667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1762367780379!5m2!1spt-BR!2sbr"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= ENDEREÇO E IMPEDIMENTO ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Endereço de Cobrança e Impedimento
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-9">
              <!-- ENDEREÇO -->
              <div class="grid-section half-width">
                <h3 class="section-title">Endereço de Cobrança</h3>
                <div class="form-grid">
                  <div class="form-field" *ngFor="let col of colunasEndereco">
                    <mat-form-field
                      appearance="outline"
                      class="full-width-field"
                    >
                      <mat-label>{{ getColumnDisplayName(col) }}</mat-label>
                      <input
                        matInput
                        [(ngModel)]="data.endereco[0][col]"
                        [disabled]="!editando"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <br />
              <!-- IMPEDIMENTO -->
              <div class="col-5">
                <h3 class="section-title">Impedimento</h3>
                <div class="form-grid">
                  <div
                    class="form-field"
                    *ngFor="let col of colunasImpedimento"
                  >
                    <mat-form-field
                      appearance="outline"
                      class="full-width-field"
                    >
                      <mat-label>{{ getColumnDisplayName(col) }}</mat-label>
                      <input
                        matInput
                        [(ngModel)]="data.impedimento[col]"
                        [disabled]="!editando"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>

  <!-- ================= RODAPÉ ================= -->
  <mat-dialog-actions class="modal-actions">
    <div class="actions-container">
      <div class="left-actions">
        <button
          mat-flat-button
          color="primary"
          class="action-button"
          (click)="abrirConsultarDivida(data)"
        >
          <mat-icon>search</mat-icon>
          Consultar Dívida
        </button>
      </div>

      <div class="right-actions">
        <button
          mat-flat-button
          color="primary"
          (click)="habilitarEdicao()"
          [disabled]="editando"
          class="action-button"
        >
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <button
          mat-flat-button
          color="accent"
          (click)="salvar()"
          [disabled]="!editando"
          class="action-button"
        >
          <mat-icon>save</mat-icon>
          Salvar
        </button>

        <button
          mat-stroked-button
          color="primary"
          mat-dialog-close
          class="action-button"
        >
          <mat-icon>close</mat-icon>
          Fechar
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
