<div class="modal-fullscreen">
  <br />
  <mat-dialog-content class="modal-content">
    <form [formGroup]="form">
      <mat-accordion multi="true">
        <!-- ================= TITULAR ================= -->
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> Titular </mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="titular" class="container">
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let campo of controlesTitular; trackBy: trackByKey"
              >
                <!-- REGRA DE EXIBIÇÃO -->
                <ng-container
                  *ngIf="
                    campo.key === 'Natureza_Juridica' ||
                    form.get('titular.Natureza_Juridica')?.value !== 'PJ'
                  "
                >
                  <mat-form-field appearance="outline" class="w-100 col-4">
                    <mat-label>
                      {{ campo.key.replace("_", " ") | titlecase }}
                    </mat-label>

                    <!-- Combobox -->
                    <mat-select
                      *ngIf="
                        campo.key === 'Natureza_Juridica';
                        else campoPadrao
                      "
                      [formControlName]="campo.key"
                    >
                      <mat-option value="PF">Pessoa Física</mat-option>
                      <mat-option value="PJ">Pessoa Jurídica</mat-option>
                    </mat-select>

                    <!-- Campo padrão -->
                    <ng-template #campoPadrao>
                      <input
                        matInput
                        [formControlName]="campo.key"
                        [type]="
                          campo.key.toLowerCase().includes('data')
                            ? 'date'
                            : 'text'
                        "
                      />
                    </ng-template>
                  </mat-form-field>
                </ng-container>
              </div>
            </div>
          </div>

          <div
            class="container row"
            *ngIf="form.get('titular.Natureza_Juridica')?.value === 'PJ'"
          >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Razão social</mat-label>
              <input matInput placeholder="Razão social" value="Sushi" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>CNPJ</mat-label>
              <input matInput placeholder="CNPJ" value="0000.0000.0000./0000" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Endereço</mat-label>
              <input matInput placeholder="Endereço" value="Endereço aqui" />
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <!-- ================= CÔNJUGE ================= -->
        <mat-expansion-panel
          *ngIf="form.get('titular.Natureza_Juridica')?.value === 'PF'"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Cônjuge </mat-panel-title>
          </mat-expansion-panel-header>
          <div formGroupName="conjuge" class="container">
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let campo of getControles('conjuge')"
              >
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ campo.key | titlecase }}</mat-label>
                  <input
                    matInput
                    [formControlName]="campo.key"
                    [type]="campo.key.includes('data') ? 'date' : 'text'"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= Unidade Familiar ================= -->
        <mat-expansion-panel
          *ngIf="form.get('titular.Natureza_Juridica')?.value === 'PF'"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Unidade Familiar </mat-panel-title>
          </mat-expansion-panel-header>
          <div formGroupName="unidadeFamiliar" class="container">
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let campo of getControles('unidadeFamiliar')"
              >
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ campo.key | titlecase }}</mat-label>
                  <input
                    matInput
                    [formControlName]="campo.key"
                    [type]="campo.key.includes('data') ? 'date' : 'text'"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= PROJETO ASSENTAMENTO ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Imóvel / Gleba / PA</mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="projetoAssentamento" class="container">
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let campo of controlesProjetoAssentamento"
              >
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>
                    {{ labelsProjetoAssentamento[campo.key] }}
                  </mat-label>

                  <!-- Combobox -->
                  <ng-container
                    *ngIf="
                      campo.key === 'regularizacao_fundiaria';
                      else inputPadrao
                    "
                  >
                    <mat-select [formControlName]="campo.key">
                      <mat-option
                        *ngFor="let opcao of opcoesRegularizacao"
                        [value]="opcao.value"
                      >
                        {{ opcao.label }}
                      </mat-option>
                    </mat-select>
                  </ng-container>

                  <!-- Input padrão -->
                  <ng-template #inputPadrao>
                    <input matInput [formControlName]="campo.key" />
                  </ng-template>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= Bloqueio ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Bloqueio / Desbloqueio</mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="bloqueio" class="container">
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let campo of getControles('bloqueio')"
              >
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>
                    {{ labelsBloqueio[campo.key] }}
                  </mat-label>

                  <ng-container
                    *ngIf="campo.key !== 'observacaoBloqueio'; else textareaObs"
                  >
                    <input matInput [formControlName]="campo.key" />
                  </ng-container>

                  <ng-template #textareaObs>
                    <textarea
                      matInput
                      rows="3"
                      [formControlName]="campo.key"
                    ></textarea>
                  </ng-template>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= GEOLOCALIZAÇÃO ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Geolocalização</mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="geolocalizacao" class="container">
            <div class="row">
              <div
                class="col-12"
                *ngFor="let campo of getControles('geolocalizacao')"
              >
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>
                    {{ labelsGeolocalizacao[campo.key] }}
                  </mat-label>

                  <ng-container
                    *ngIf="campo.key !== 'observacoes'; else textareaGeo"
                  >
                    <input matInput [formControlName]="campo.key" />
                  </ng-container>

                  <ng-template #textareaGeo>
                    <textarea
                      matInput
                      rows="6"
                      [formControlName]="campo.key"
                    ></textarea>
                  </ng-template>
                </mat-form-field>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d35424342.906455666!2d-50.357231334641874!3d-20.0641354303789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1766149554872!5m2!1spt-BR!2sbr"
                  width="1300"
                  height="400"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= titulação ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Titulação </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <div>
              <div formGroupName="titulacao">
                <div class="row container">
                  <div
                    class="col-md-3"
                    *ngFor="let campo of getControles('titulacao')"
                  >
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ campo.key | titlecase }}</mat-label>
                      <input matInput [formControlName]="campo.key" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- ================= ENDEREÇO E IMPEDIMENTO ================= -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Endereço de Cobrança</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="container">
            <div class="row">
              <!-- ENDEREÇO -->
              <div formGroupName="enderecoCobranca" class="col-md-8">
                <div class="row">
                  <div
                    class="col-md-6"
                    *ngFor="let campo of getControles('enderecoCobranca')"
                  >
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>
                        {{ labelsEnderecoCobranca[campo.key] }}
                      </mat-label>

                      <input matInput [formControlName]="campo.key" />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- OUTRAS SEÇÕES FUTURAS -->
            </div>
          </div>
        </mat-expansion-panel>

        <!--OBSERVACAO-->

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Observação </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <div>
              <div formGroupName="observacao">
                <div>
                  <div *ngFor="let campo of getControles('observacao')">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ campo.key | titlecase }}</mat-label>
                      <input matInput [formControlName]="campo.key" />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- IMPEDIMENTO -->
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-dialog-content>

  <!-- ================= RODAPÉ ================= -->
  <mat-dialog-actions class="modal-actions">
    <div class="actions-container">
      <div class="left-actions">
        <!--<button
          mat-flat-button
          color="primary"
          (click)="abrirConsultarDivida(form.value)"
        >
          <mat-icon>search</mat-icon>
          Consultar Dívida
        </button>-->
      </div>

      <div class="right-actions">
        <!-- Botão Editar desabilita quando em edição -->
        <button
          mat-flat-button
          color="primary"
          (click)="habilitarEdicao()"
          [disabled]="editando"
        >
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <!-- Botão Salvar habilita apenas quando em edição -->
        <button
          mat-flat-button
          color="accent"
          (click)="salvar()"
          [disabled]="!editando"
        >
          <mat-icon>save</mat-icon>
          Salvar
        </button>

        <button mat-stroked-button color="warn" mat-dialog-close>
          <mat-icon>close</mat-icon>
          Fechar
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
