.cabecalho {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.tabela-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

table {
  width: 100%;
  max-width: 1100px;
}

.acoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.principal {
  margin: 3rem;
}
