<div class="p-3 container">
  <p routerLink="/boletos" class="btn btn-link">Prestações</p>
  <div class="row">
    <div class="titulo col-5"><h1>Módulo de Cobranças</h1></div>
    <div class="col-6"></div>
    <div class="col-1">
      <button class="btn btn-primary titulo" routerLink="/">Voltar</button>
    </div>
  </div>

  <mat-accordion class="menu-acordeon">
    <mat-expansion-panel
      [expanded]="true"
      [hideToggle]="true"
      [disabled]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Filtros do relatório</mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="formFiltro" (ngSubmit)="aplicarFiltro()" class="row">
        <!--Natureza-->
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Natureza</mat-label>

          <mat-select formControlName="natureza" multiple>
            <mat-select-trigger
              class="d-flex justify-content-start text-start w-100"
            >
              {{ formFiltro.get("natureza")?.value?.[0] || "" }}

              @if ((formFiltro.get("natureza")?.value?.length || 0) > 1) {
                <span class="example-additional-selection ms-1">
                  (+{{ (formFiltro.get("natureza")?.value?.length || 0) - 1 }}
                  {{
                    formFiltro.get("natureza")?.value?.length === 2
                      ? "outro"
                      : "outros"
                  }})
                </span>
              }
            </mat-select-trigger>

            @for (item of natureza; track item) {
              <mat-option [value]="item">
                {{ item }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!--Relatorios-->
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Relatorio</mat-label>
          <mat-select formControlName="relatorio">
            @for (item of relatorio; track item) {
              <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>SR</mat-label>
          <mat-select formControlName="sr">
            @for (item of sr; track item) {
              <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>PA/Imóvel/Gleba</mat-label>
          <input
            matInput
            formControlName="nomePA"
            placeholder="PA/Imóvel/Gleba"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Modalidade</mat-label>
          <input
            matInput
            formControlName="modalidade"
            placeholder="Modalidade"
          />
        </mat-form-field>
        <!--
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Ano</mat-label>
          <input matInput formControlName="ano" placeholder="Ano" />
          <mat-error *ngIf="formFiltro.get('nome')?.hasError('minlength')">
            Em ajuste.
          </mat-error>
        </mat-form-field>-->

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Código do Devedor</mat-label>
          <input
            matInput
            formControlName="cod_beneficiario"
            placeholder="Código do Devedor"
          />
          <mat-error
            *ngIf="formFiltro.get('cod_beneficiario')?.hasError('minlength')"
          >
            Mínimo 3 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>CPF / CNPJ</mat-label>
          <input matInput formControlName="devedor" placeholder="CPF / CNPJ" />
        </mat-form-field>
        <!--
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Periodo</mat-label>
          <input matInput formControlName="periodo" placeholder="Periodo" />
        </mat-form-field>-->

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Período (Data de Inicio e fim)</mat-label>

          <mat-date-range-input
            [formGroup]="dataFormGroup"
            [rangePicker]="picker"
          >
            <input
              matStartDate
              formControlName="start"
              placeholder="Data inicial"
            />
            <input matEndDate formControlName="end" placeholder="Data final" />
          </mat-date-range-input>

          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (formFiltro.get("data.start")?.hasError("matStartDateInvalid")) {
            <mat-error>Data inicial inválida</mat-error>
          }

          @if (formFiltro.get("data.end")?.hasError("matEndDateInvalid")) {
            <mat-error>Data final inválida</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Período de arrecadação</mat-label>

          <mat-select formControlName="periodoArrecadacao">
            <mat-option
              *ngFor="let periodo of periodoArrecadacao"
              [value]="periodo"
            >
              {{ periodo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Tipo de arrecadação</mat-label>

          <mat-select formControlName="tipoarrecadacao">
            <mat-option *ngFor="let tipo of tipoArrecadacao" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Formato</mat-label>
          <input matInput formControlName="formato" placeholder="Formato" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
          <mat-label>Modelo</mat-label>

          <mat-select formControlName="modelo">
            <mat-option *ngFor="let item of modelo" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="botoes-row">
          <button mat-flat-button color="accent" (click)="gerarRelatorio()">
            <mat-icon>print</mat-icon>
            Relatorio
          </button>
          <button
            mat-stroked-button
            color="accent"
            type="button"
            (click)="limparFiltro()"
          >
            Limpar campos
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <div class="row gx-5" [formGroup]="formFiltro">
    <!-- UG -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>UG</mat-label>
        <mat-select formControlName="ug">
          <mat-option value="ug1">UG 01</mat-option>
          <mat-option value="ug2">UG 02</mat-option>
          <mat-option value="ug3">UG 03</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- RADIO GROUP -->
    <div class="col-4">
      <label class="d-block mb-2">Período de arrecadação</label>
      <mat-radio-group formControlName="periodoGrafico">
        <mat-radio-button value="dias">Arrecadação diária</mat-radio-button
        ><br />
        <mat-radio-button value="mensal">Arrecadação mensal</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- CHECKBOXES -->
    <div class="col-4 d-flex flex-column">
      <label class="d-block mb-2">Tipo de arrecadação</label>
      <mat-checkbox formControlName="tipoValor" value="concedida">
        Arrecadação diária
      </mat-checkbox>

      <mat-checkbox formControlName="tipoValor" value="total">
        Arrecadação total
      </mat-checkbox>

      <mat-checkbox formControlName="mostrarValores">
        Mostrar valores
      </mat-checkbox>
    </div>

    <!-- ANO -->
    <div class="col-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ano</mat-label>
        <mat-select formControlName="anoGrafico">
          <mat-option *ngFor="let ano of anos" [value]="ano">
            {{ ano }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- BOTÕES DOS GRÁFICOS -->
    <div class="col-12 mt-3 d-flex gap-3">
      <button mat-raised-button color="primary">
        <mat-icon>bar_chart</mat-icon>
        Histograma
      </button>

      <button mat-raised-button color="accent">
        <mat-icon>pie_chart</mat-icon>
        Pizza
      </button>

      <button mat-raised-button color="warn">
        <mat-icon>stacked_bar_chart</mat-icon>
        Colunas
      </button>
    </div>
  </div>
  <br />
  <div class="row gx-5">
    <div class="container-fluid py-4">
      <div class="row">
        <!-- Card do gráfico de pizza (esquerda) -->
        <div class="col-xl-4 col-md-6 mb-5">
          <div class="card card-raised overflow-hidden h-100">
            <div class="card-body">
              <div
                class="d-flex h-100 w-100 align-items-center justify-content-center"
              >
                <div class="w-100" style="max-width: 20rem">
                  <canvas id="myPieChart"></canvas>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent p-0">
              <div class="list-group list-group-flush">
                <div class="list-group-item d-flex justify-content-between">
                  <div class="caption font-monospace text-muted">
                    Canal de tráfego
                  </div>
                  <div class="caption font-monospace text-muted ms-2">
                    Usuários
                  </div>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <div class="me-2">
                    <span class="text-primary me-1">●</span> Busca
                  </div>
                  <div class="ms-2">5.649</div>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <div class="me-2">
                    <span class="text-info me-1">●</span> Direto
                  </div>
                  <div class="ms-2">3.919</div>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <div class="me-2">
                    <span class="text-secondary me-1">●</span> Indicação
                  </div>
                  <div class="ms-2">2.126</div>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <div class="me-2">
                    <span class="text-warning me-1">●</span> Social
                  </div>
                  <div class="ms-2">972</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card do gráfico de barras (direita) -->
        <div class="col-xl-8 col-md-6 mb-5">
          <div class="card card-raised h-100">
            <div class="card-body">
              <div class="h-100 d-flex align-items-center">
                <canvas id="dashboardHorizontalBarChart"></canvas>
              </div>
            </div>
            <div class="card-footer bg-transparent p-0">
              <div class="d-flex justify-content-end ripple-gray px-3 py-2">
                <div class="d-flex align-items-center p-2 text-primary">
                  <div class="fst-button">Relatório avançado</div>
                  <i class="material-icons icon-sm ms-1">chevron_right</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
