<div class="modal-container">
  <!-- Etapa 1 -->
  <ng-container *ngIf="!confirmarAgrupamento">
    <!-- Texto para ConsultarDivida -->
    <p class="mensagem" *ngIf="origemComponente === 'consultarDivida'">
      Deseja agrupar seleções?
    </p>

    <!-- Texto para ListaBoleto -->
    <p class="mensagem" *ngIf="origemComponente === 'listaBoleto'">
      Serão agrupadas todas as prestações em atraso, deseja continuar?
    </p>

    <div class="acoes">
      <button mat-flat-button color="primary" (click)="confirmar()">Sim</button>
      <button mat-stroked-button color="warn" (click)="fechar()">Não</button>
    </div>
  </ng-container>

  <!-- Etapa 2 -->
  <ng-container *ngIf="confirmarAgrupamento">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Data para Pagamento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="novaData" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p>
      <strong>Valores agrupados - R$:</strong>
      {{ formataNumero(valorAgrupado) }}
    </p>

    <p>
      <strong>Prestações agrupadas - </strong>
      {{ quantidadePrestacoes }}
    </p>

    <!-- Número do Requerimento -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Número do Requerimento</mat-label>
      <input matInput type="text" [(ngModel)]="numeroRequerimento" readonly />
    </mat-form-field>

    <!-- Data do Requerimento -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Data do Requerimento</mat-label>
      <input matInput type="text" [(ngModel)]="dataRequerimento" readonly />
    </mat-form-field>

    <div class="acoes">
      <button mat-stroked-button (click)="fechar()">Sair</button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!novaData"
        (click)="salvar()"
      >
        Salvar
      </button>
    </div>
  </ng-container>
</div>
