.modal-content {
  margin: 4rem 0;
}

.full-width {
  width: 100%;
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem; /* espaço entre o botão e o nome do arquivo */
}
button {
  margin: 0 1.5rem;
}
