<div class="modal-content container-fluid">
  <div class="row">
    <!-- Motivo -->
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Motivo</mat-label>
        <mat-select [(ngModel)]="situacaoSelecionada">
          <mat-option *ngFor="let s of situacoes" [value]="s">
            {{ s }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Data da Baixa -->
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Data da Baixa</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dataBaixa" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <!-- Valor -->
    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Valor</mat-label>
        <input matInput [(ngModel)]="valor" readonly />
      </mat-form-field>
    </div>

    <!-- Tipo de comprovante -->
    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de comprovante</mat-label>
        <input matInput [(ngModel)]="tipoComprovante" readonly />
      </mat-form-field>
    </div>

    <!-- Nº da Pag/SEI -->
    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nº da Pag./SEI</mat-label>
        <input matInput [(ngModel)]="numeroSEI" readonly />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <!-- Nº da GRU -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nº da GRU</mat-label>
        <input matInput [(ngModel)]="numeroGRU" readonly />
      </mat-form-field>
    </div>

    <!-- Upload -->
    <div class="col-12">
      <button mat-stroked-button color="primary" type="button">
        <mat-icon>attach_file</mat-icon>
        Anexar documento
        <input type="file" hidden (change)="onFileSelected($event)" />
      </button>

      <span class="file-name" *ngIf="anexo">
        {{ anexo.name }}
      </span>
    </div>
  </div>

  <!-- Botões -->
  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      (click)="salvar()"
      [disabled]="!situacaoSelecionada"
    >
      <mat-icon>save</mat-icon>
      Salvar
    </button>

    <button mat-flat-button color="warn" (click)="fechar()">
      <mat-icon>close</mat-icon>
      Fechar
    </button>
  </div>
</div>
